<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

    <!-- Chart.js -->
    <script src="js/Chart.min.js"></script>

    <title>Better N.U.R.F. Irelia</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">N.U.R.F.</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Stats</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Source</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Credits</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">N.U.R.F.</h1>
                        <p class="intro-text">Welcome. Cool stats: Average damage/min per champion, wards killed, crowd control.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Test Area for Stats</h1>
                <p>API Tutorials <a href="https://developer.riotgames.com/discussion/riot-games-api/show/kvll5V8r">here</a>.</p>
                <p>Sample NURF data from provided matchId <a href="https://na.api.pvp.net/api/lol/na/v2.2/match/1778704162?includeTimeline=true&api_key=etc">here</a>.</p>

                <p>The following test looks up Summoner stats and is copied from this <a href="http://jsfiddle.net/Zt3u9/651/">JSFiddle</a>.</p>
                <input type="text" id="theKey" value="Enter dev key" /><br><br>
                <input type="submit" class="btn btn-default btn-lg" onclick="summonerLookUp();" />
                <div id="stuff">ranks</div><br>

                <p>Champion icons <a href="http://ddragon.leagueoflegends.com/cdn/5.6.1/img/champion/Aatrox.png">sample</a></p>
                <a href="http://ddragon.leagueoflegends.com/cdn/5.6.1/img/item/2043.png">Sample Vision Ward static</a>
                <img src="http://ddragon.leagueoflegends.com/cdn/5.6.1/img/item/2043.png">
                <!-- Need to get champion ID 1-1xx? so we can get champion name and associated square -->

                <br><br><br><br><br><h3>Charts</h3>
                <p>Sample line chart, can tweak or do different style. <a href="http://www.chartjs.org/docs/">Chart.js docs</a> </p>
                <canvas id="NA" height="400" width="650"></canvas>
                <script>
                var ctx = document.getElementById("NA").getContext("2d");
                var data = {
                    labels: ["Season 3 Spring", "Season 3 Summer", 
                    "Season 4 Spring", "Season 4 Summer", 
                    "Season 5 Spring"],
                    datasets: [
                      {
                        label: "C9",
                        fillColor: "rgba(218,165,32,0.2)",
                        strokeColor: "rgba(218,165,32,1)",
                        pointColor: "rgba(218,165,32,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(218,165,32,1)",
                        data: [null, 1524, 1474, 1328, 1264]
                      },
                      {
                        label: "TSM",
                        fillColor: "rgba(192,192,192,0.2)",
                        strokeColor: "rgba(192,192,192,1)",
                        pointColor: "rgba(192,192,192,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(192,192,192,1)",
                        data: [1424, 1200, 1429, 1264, 1328]
                      },
                    ]
                };
                var options = {
                    //Boolean - Whether grid lines are shown across the chart
                    scaleShowGridLines : true,
                    //String - Colour of the grid lines
                    scaleGridLineColor : "rgba(0,0,0,.05)",
                    //Number - Width of the grid lines
                    scaleGridLineWidth : 1,
                    //Boolean - Whether to show horizontal lines (except X axis)
                    scaleShowHorizontalLines: true,
                    //Boolean - Whether to show vertical lines (except Y axis)
                    scaleShowVerticalLines: true,
                    //Boolean - Whether the line is curved between points
                    bezierCurve : true,
                    //Number - Tension of the bezier curve between points
                    bezierCurveTension : 0.4,
                    //Boolean - Whether to show a dot for each point
                    pointDot : true,
                    //Number - Radius of each point dot in pixels
                    pointDotRadius : 3,
                    //Number - Pixel width of point dot stroke
                    pointDotStrokeWidth : 1,
                    //Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                    pointHitDetectionRadius : 20,
                    //Boolean - Whether to show a stroke for datasets
                    datasetStroke : true,
                    //Number - Pixel width of dataset stroke
                    datasetStrokeWidth : 2,
                    //Boolean - Whether to fill the dataset with a colour
                    datasetFill : true,
                    //String - A legend template
                    legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
                    //Tooltip template from StackOverflow
                    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>",
                    //Override scale for better display
                    scaleOverride: true,
                    scaleStartValue: 900,
                    scaleStepWidth: 100,
                    scaleSteps: 7
                };
                var myLineChart = new Chart(ctx).Line(data, options);
                </script>

                <br><br><br><br><br><p>Top 5 champions interactive thing</p>
            </div>
        </div>

        <script>
        function summonerLookUp() {
            var SUMMONER_ID = "";
            var API_KEY = "";
            API_KEY = $("#theKey").val();
            var div = document.getElementById('stuff');
            var combine = "";

            var array = ["22584897", "5908", "48705014", "22748614", "21974037", "44786151", "60783"];

            div.innerHTML = div.innerHTML + "<br />array count: " + array.length + "<br />";
            for (var i = 0; i < array.length; i++) {
                combine = "";
                SUMMONER_ID = array[i];
                getStuff(SUMMONER_ID, combine, API_KEY, div, i);
            }
        }

        function getStuff(SUMMONER_ID, combine, API_KEY, div, count) {
            var Topuser = SUMMONER_ID;
            $.ajax({
                url: 'https://na.api.pvp.net/api/lol/na/v2.5/league/by-summoner/' + SUMMONER_ID + '/entry?api_key=' + API_KEY,
                type: 'GET',
                dataType: 'json',
                async: false,
                data: {},
                success: function (json) {
                    var user = Topuser;
                    if (typeof json[user][0].queue != "undefined") {
                        if (json[user][0].queue == "RANKED_SOLO_5x5") {
                            combine = json[user][0].tier + " - " + json[user][0].entries[0].division + " at " + json[user][0].entries[0].leaguePoints + " LP";
                            div.innerHTML = div.innerHTML + "<br />" + count + ": " + user + " " + combine;
                        }
                    } else if (typeof json[user][1].queue != "undefined") {
                        if (json[user][1].queue == "RANKED_SOLO_5x5") {
                            combine = json[user][1].tier + " - " + json[user][1].entries[0].division + " at " + json[user][0].entries[0].leaguePoints + " LP";
                            div.innerHTML = div.innerHTML + "<br />" + count + ": " + user + " " + combine;
                        }
                    } else if (typeof json[user][2].queue != "undefined") {
                        if (json[user][2].queue == "RANKED_SOLO_5x5") {
                            combine = json[user][2].tier + " - " + json[user][2].entries[0].division + " at " + json[user][0].entries[0].leaguePoints + " LP";
                            div.innerHTML = div.innerHTML + "<br />" + count + ": " + user + " " + combine;
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    var user = Topuser;
                    console.log(errorThrown);
                    if (errorThrown === "Not Found")
                    {
                        div.innerHTML = div.innerHTML + "<br />" + count + ": " + user + " " + "UNRANKED";
                    }            
                }
            });
        }
        </script>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Source</h2>
                    <p>View this project's source code on GitHub.</p>
                    <a href="https://github.com/tsitu/Riot-API-Contest" class="btn btn-default btn-lg">Go</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Credits</h2>
                <p>This project was built for Riot's API Challenge. Thanks to Riot for the data, Start Bootstrap for the HTML/CSS template, Chart.js for visualization, etc</p>
                </p>
                <!--<ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>-->
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p><em>This project isn't endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</em></p>
            <!--<p>&copy; NURF 2015</p>-->
        </div>
    </footer>

</body>

</html>
